<div>
    <h2>{{posts.title}}</h2>
    <h2>by {{posts.user.username}}</h2>
    <h3>{{posts.body}}</h3>
    {{#if posts.Comments}}
{{#each posts.Comments}}
{{body}}
:
{{user.username}}
{{/each}}
{{else}}
<h2>No commments...</h2>
    {{/if}}
</div>
{{#if logged_in}}
<div>
    <form id="comment-form">
        <input  type="text">
        <button class="create-comment">send comment</button>
    </form>
</div>
{{/if}}
<div>
<a href="/">Back</a >
</div>
<script src="/js/comment.js"></script>